Cliente_Asociados_CA/Connected Services/Server_Asociados/ServerAsociados.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.125/ServerAsociados/ServerAsociados.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" />
  <xs:element name="cargarComboEstados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarComboEstadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="cargarComboEstadosResult" nillable="true" type="q1:ArrayOfestados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarComboMunicipios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarComboMunicipiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="cargarComboMunicipiosResult" nillable="true" type="q2:ArrayOfmunicipios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarComboLocalidades">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarComboLocalidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="cargarComboLocalidadesResult" nillable="true" type="q3:ArrayOflocalidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarComboCategoriaT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarComboCategoriaTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="cargarComboCategoriaTResult" nillable="true" type="q4:ArrayOfcategoriaTaller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="registrarLoginResult" nillable="true" type="q5:userLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBynoSocio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numSocio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBynoSocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="getBynoSocioResult" nillable="true" type="q6:getSocioByNoSocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarSocio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSocio" type="xs:int" />
        <xs:element minOccurs="0" name="noSocio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellidoPaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellidoMaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
        <xs:element minOccurs="0" name="edad" type="xs:int" />
        <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="anioJubilacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estadoCivil" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoSangre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="noImms" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="curp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idEstado" type="xs:int" />
        <xs:element minOccurs="0" name="idMunicipio" type="xs:int" />
        <xs:element minOccurs="0" name="localidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="calle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fotoPerfil" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="nombreCompletoE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccionE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefonoE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarSocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="registrarSocioResult" nillable="true" type="q7:socio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarBeneficiario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idBeneficiario" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellidoPaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellidoMaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
        <xs:element minOccurs="0" name="edad" type="xs:int" />
        <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoSangre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="noImms" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="curp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estadoDireccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="municipioDireccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="localidadDireccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="calleDireccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idSocio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarBeneficiarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="registrarBeneficiarioResult" nillable="true" type="q8:beneficiario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarDireccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="idEstado" type="xs:int" />
        <xs:element minOccurs="0" name="idMunicipio" type="xs:int" />
        <xs:element minOccurs="0" name="localidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="calle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarDireccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="registrarDireccionResult" nillable="true" type="q9:direccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCategoriaTaller" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="registrarCategoriaResult" nillable="true" type="q10:categoriaTaller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarTaller">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="horario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="instructor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCategoria" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarTallerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="registrarTallerResult" nillable="true" type="q11:taller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarDetalleTaller">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="idTaller" type="xs:int" />
        <xs:element minOccurs="0" name="idSocio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarDetalleTallerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="registrarDetalleTallerResult" nillable="true" type="q12:detalleTaller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSocio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="getSocioResult" nillable="true" type="q13:mostrarSocios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBeneficiario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getBeneficiarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="getBeneficiarioResult" nillable="true" type="q14:mostrarBeneficiario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSocioDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numSocio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSocioDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="getSocioDetalleResult" nillable="true" type="q15:getSocioByNoSocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="allSocios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="allSociosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="allSociosResult" nillable="true" type="q16:ArrayOfsocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoria">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="getCategoriaResult" nillable="true" type="q17:mostrarCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTaller">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTallerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="getTallerResult" nillable="true" type="q18:mostrarTaller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTallerDeportivo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTallerDeportivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="getTallerDeportivoResult" nillable="true" type="q19:mostrarTaller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTallerCultural">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTallerCulturalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="getTallerCulturalResult" nillable="true" type="q20:mostrarTaller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTallerRecreativo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTallerRecreativoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="getTallerRecreativoResult" nillable="true" type="q21:mostrarTaller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>