Cliente_Asociados_CA/Connected Services/Server_Asociados/ServerAsociados.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.125/ServerAsociados/ServerAsociados.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" />
  <xs:element name="cargarComboEstados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarComboEstadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="cargarComboEstadosResult" nillable="true" type="q1:ArrayOfestados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarComboMunicipios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarComboMunicipiosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="cargarComboMunicipiosResult" nillable="true" type="q2:ArrayOfmunicipios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarComboLocalidades">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarComboLocalidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="cargarComboLocalidadesResult" nillable="true" type="q3:ArrayOflocalidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarComboCategoriaT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarComboCategoriaTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="cargarComboCategoriaTResult" nillable="true" type="q4:ArrayOfcategoriaTaller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="registrarLoginResult" nillable="true" type="q5:userLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBynoSocio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numSocio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBynoSocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="getBynoSocioResult" nillable="true" type="q6:getSocioByNoSocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarSocio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSocio" type="xs:int" />
        <xs:element minOccurs="0" name="noSocio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellidoPaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellidoMaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
        <xs:element minOccurs="0" name="edad" type="xs:int" />
        <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="anioJubilacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estadoCivil" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoSangre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="noImms" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="curp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idEstado" type="xs:int" />
        <xs:element minOccurs="0" name="idMunicipio" type="xs:int" />
        <xs:element minOccurs="0" name="localidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="calle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fotoPerfil" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="nombreCompletoE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccionE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefonoE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarSocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="registrarSocioResult" nillable="true" type="q7:socio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarHC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="IdSocio" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="escolaridad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ocupacionPrincipal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="alergias" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreContacto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentesco" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cuidadorPrimario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefonoContacto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="svTA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="svFC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="svFR" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="svGlucemiaPre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="svGlucemiaPost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="svColesterol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="svTrigliceridos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="svTemperatura" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="svPeso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="svEstatura" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="svCintura" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="svIMC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resumenInterrogatorio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="alcoholismo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tabaquismo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toxicomonias" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transfusiones" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cartillaVacunacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gestas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cesareas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abortos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="medicacionActual" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="padecimientoActual" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="exploracionFisica" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultadosRelevantes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cbdAgudo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="realizoCBDAgudo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cbdCronico" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="realizoCBDCronico" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="riesgoFramingham" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="riesgoASCVD" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estudioEnfermedadCronica" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="realizoEstudio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ojoDerecho" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oidoDerecho" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pruebaSusurro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ojoIzquierdo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OidoIzquierdo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="realizoAlteraciones" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="examenMMSE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deterioroGlobal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="yesavage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pruebaReloj" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="escalaMaltrato" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="realizoEvMaltrato" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="noHorasDuerme" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="duermeDia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sueñoFragmentado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dConciliarSueño" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rIntenso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pRespiratorias" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cansancioDia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sDiurna" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iCharlson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RealizoEvCormobilidades" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cuestionarioFrail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rEvFragilidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="escalaSARC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rEvSar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="criteriosStopp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rEvMedic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usoProtesis" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xerostomia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numDientes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="disfagia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cadidiasis" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="caries" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rEvSalud" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actKatz" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actLawton" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="indiceBarthel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="escalaTinneti" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rEvDesempeño" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="escalaIn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rEvIn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="escalaKar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="escalaRam" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rEvCuidados" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgAfasia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgCaidas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgColapso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgDeficit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgDepresion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgDesnutricion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgPatologia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgPatologiaD" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgEstadoT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgInconF" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgInconU" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgAbuso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgObesidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgOsteoporosis" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgPerdidaA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgUlceras" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgPerdidaV" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgPolifarmacia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgRegresion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgSxInmovilidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgSxPiernas" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgTranstornoC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgTranstornoS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgTranstornoM" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgTranstornoE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgEncarnizamiento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgPatologiaSocial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgDemencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sgDelirum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pClinicos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="analisis" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pEstudios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pronostico" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="indTerap" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="equipoM" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarHCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="registrarHCResult" nillable="true" type="q8:historialClinico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarBeneficiario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idBeneficiario" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellidoPaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellidoMaterno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
        <xs:element minOccurs="0" name="edad" type="xs:int" />
        <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoSangre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="noImms" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="curp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estadoDireccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="municipioDireccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="localidadDireccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="calleDireccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idSocio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarBeneficiarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="registrarBeneficiarioResult" nillable="true" type="q9:beneficiario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarDireccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="idEstado" type="xs:int" />
        <xs:element minOccurs="0" name="idMunicipio" type="xs:int" />
        <xs:element minOccurs="0" name="localidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="calle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarDireccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="registrarDireccionResult" nillable="true" type="q10:direccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCategoriaTaller" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="registrarCategoriaResult" nillable="true" type="q11:categoriaTaller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarTaller">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="horario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="instructor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCategoria" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarTallerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="registrarTallerResult" nillable="true" type="q12:taller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarDetalleTaller">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="idTaller" type="xs:int" />
        <xs:element minOccurs="0" name="idSocio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarDetalleTallerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="registrarDetalleTallerResult" nillable="true" type="q13:detalleTaller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSocio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="getSocioResult" nillable="true" type="q14:mostrarSocios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHC">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getHCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="getHCResult" nillable="true" type="q15:mostrarHC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBeneficiario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getBeneficiarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="getBeneficiarioResult" nillable="true" type="q16:mostrarBeneficiario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSocioDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numSocio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSocioDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="getSocioDetalleResult" nillable="true" type="q17:getSocioByNoSocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBeneficiarioDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numSocio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBeneficiarioDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="getBeneficiarioDetalleResult" nillable="true" type="q18:getBeneficiarioByNoSocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="allSocios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="allSociosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="allSociosResult" nillable="true" type="q19:ArrayOfsocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoria">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="getCategoriaResult" nillable="true" type="q20:mostrarCategoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTaller">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTallerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="getTallerResult" nillable="true" type="q21:mostrarTaller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTallerDeportivo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTallerDeportivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="getTallerDeportivoResult" nillable="true" type="q22:mostrarTaller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTallerCultural">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTallerCulturalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="getTallerCulturalResult" nillable="true" type="q23:mostrarTaller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTallerRecreativo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTallerRecreativoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" minOccurs="0" name="getTallerRecreativoResult" nillable="true" type="q24:mostrarTaller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>