Cliente_Asociados_CA/Connected Services/Server_Asociados/ServerAsociados.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServerAsociados" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.125/ServerAsociados/ServerAsociados.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.125/ServerAsociados/ServerAsociados.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.125/ServerAsociados/ServerAsociados.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server_Asociados_Jubilados_CA" />
      <xsd:import schemaLocation="http://192.168.0.125/ServerAsociados/ServerAsociados.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerAsociados_cargarComboEstados_InputMessage">
    <wsdl:part name="parameters" element="tns:cargarComboEstados" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_cargarComboEstados_OutputMessage">
    <wsdl:part name="parameters" element="tns:cargarComboEstadosResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_cargarComboMunicipios_InputMessage">
    <wsdl:part name="parameters" element="tns:cargarComboMunicipios" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_cargarComboMunicipios_OutputMessage">
    <wsdl:part name="parameters" element="tns:cargarComboMunicipiosResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_cargarComboLocalidades_InputMessage">
    <wsdl:part name="parameters" element="tns:cargarComboLocalidades" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_cargarComboLocalidades_OutputMessage">
    <wsdl:part name="parameters" element="tns:cargarComboLocalidadesResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_cargarComboCategoriaT_InputMessage">
    <wsdl:part name="parameters" element="tns:cargarComboCategoriaT" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_cargarComboCategoriaT_OutputMessage">
    <wsdl:part name="parameters" element="tns:cargarComboCategoriaTResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_registrarLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarLogin" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_registrarLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_getBynoSocio_InputMessage">
    <wsdl:part name="parameters" element="tns:getBynoSocio" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_getBynoSocio_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBynoSocioResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_registrarSocio_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarSocio" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_registrarSocio_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarSocioResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_registrarHC_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarHC" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_registrarHC_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarHCResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_registrarBeneficiario_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarBeneficiario" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_registrarBeneficiario_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarBeneficiarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_registrarDireccion_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarDireccion" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_registrarDireccion_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarDireccionResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_registrarCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarCategoria" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_registrarCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_registrarTaller_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarTaller" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_registrarTaller_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarTallerResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_registrarDetalleTaller_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarDetalleTaller" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_registrarDetalleTaller_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarDetalleTallerResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_getSocio_InputMessage">
    <wsdl:part name="parameters" element="tns:getSocio" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_getSocio_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSocioResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_getHC_InputMessage">
    <wsdl:part name="parameters" element="tns:getHC" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_getHC_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHCResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_getBeneficiario_InputMessage">
    <wsdl:part name="parameters" element="tns:getBeneficiario" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_getBeneficiario_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBeneficiarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_getSocioDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:getSocioDetalle" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_getSocioDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSocioDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_getBeneficiarioDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:getBeneficiarioDetalle" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_getBeneficiarioDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBeneficiarioDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_allSocios_InputMessage">
    <wsdl:part name="parameters" element="tns:allSocios" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_allSocios_OutputMessage">
    <wsdl:part name="parameters" element="tns:allSociosResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_getCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:getCategoria" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_getCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_getTaller_InputMessage">
    <wsdl:part name="parameters" element="tns:getTaller" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_getTaller_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTallerResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_getTallerDeportivo_InputMessage">
    <wsdl:part name="parameters" element="tns:getTallerDeportivo" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_getTallerDeportivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTallerDeportivoResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_getTallerCultural_InputMessage">
    <wsdl:part name="parameters" element="tns:getTallerCultural" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_getTallerCultural_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTallerCulturalResponse" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_getTallerRecreativo_InputMessage">
    <wsdl:part name="parameters" element="tns:getTallerRecreativo" />
  </wsdl:message>
  <wsdl:message name="IServerAsociados_getTallerRecreativo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTallerRecreativoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServerAsociados">
    <wsdl:operation name="cargarComboEstados">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/cargarComboEstados" message="tns:IServerAsociados_cargarComboEstados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/cargarComboEstadosResponse" message="tns:IServerAsociados_cargarComboEstados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cargarComboMunicipios">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/cargarComboMunicipios" message="tns:IServerAsociados_cargarComboMunicipios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/cargarComboMunicipiosResponse" message="tns:IServerAsociados_cargarComboMunicipios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cargarComboLocalidades">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/cargarComboLocalidades" message="tns:IServerAsociados_cargarComboLocalidades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/cargarComboLocalidadesResponse" message="tns:IServerAsociados_cargarComboLocalidades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cargarComboCategoriaT">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/cargarComboCategoriaT" message="tns:IServerAsociados_cargarComboCategoriaT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/cargarComboCategoriaTResponse" message="tns:IServerAsociados_cargarComboCategoriaT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/registrarLogin" message="tns:IServerAsociados_registrarLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/registrarLoginResponse" message="tns:IServerAsociados_registrarLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBynoSocio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/getBynoSocio" message="tns:IServerAsociados_getBynoSocio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/getBynoSocioResponse" message="tns:IServerAsociados_getBynoSocio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarSocio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/registrarSocio" message="tns:IServerAsociados_registrarSocio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/registrarSocioResponse" message="tns:IServerAsociados_registrarSocio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarHC">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/registrarHC" message="tns:IServerAsociados_registrarHC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/registrarHCResponse" message="tns:IServerAsociados_registrarHC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarBeneficiario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/registrarBeneficiario" message="tns:IServerAsociados_registrarBeneficiario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/registrarBeneficiarioResponse" message="tns:IServerAsociados_registrarBeneficiario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarDireccion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/registrarDireccion" message="tns:IServerAsociados_registrarDireccion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/registrarDireccionResponse" message="tns:IServerAsociados_registrarDireccion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/registrarCategoria" message="tns:IServerAsociados_registrarCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/registrarCategoriaResponse" message="tns:IServerAsociados_registrarCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarTaller">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/registrarTaller" message="tns:IServerAsociados_registrarTaller_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/registrarTallerResponse" message="tns:IServerAsociados_registrarTaller_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarDetalleTaller">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/registrarDetalleTaller" message="tns:IServerAsociados_registrarDetalleTaller_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/registrarDetalleTallerResponse" message="tns:IServerAsociados_registrarDetalleTaller_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSocio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/getSocio" message="tns:IServerAsociados_getSocio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/getSocioResponse" message="tns:IServerAsociados_getSocio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHC">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/getHC" message="tns:IServerAsociados_getHC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/getHCResponse" message="tns:IServerAsociados_getHC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBeneficiario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/getBeneficiario" message="tns:IServerAsociados_getBeneficiario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/getBeneficiarioResponse" message="tns:IServerAsociados_getBeneficiario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSocioDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/getSocioDetalle" message="tns:IServerAsociados_getSocioDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/getSocioDetalleResponse" message="tns:IServerAsociados_getSocioDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBeneficiarioDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/getBeneficiarioDetalle" message="tns:IServerAsociados_getBeneficiarioDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/getBeneficiarioDetalleResponse" message="tns:IServerAsociados_getBeneficiarioDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="allSocios">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/allSocios" message="tns:IServerAsociados_allSocios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/allSociosResponse" message="tns:IServerAsociados_allSocios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/getCategoria" message="tns:IServerAsociados_getCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/getCategoriaResponse" message="tns:IServerAsociados_getCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTaller">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/getTaller" message="tns:IServerAsociados_getTaller_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/getTallerResponse" message="tns:IServerAsociados_getTaller_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTallerDeportivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/getTallerDeportivo" message="tns:IServerAsociados_getTallerDeportivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/getTallerDeportivoResponse" message="tns:IServerAsociados_getTallerDeportivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTallerCultural">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/getTallerCultural" message="tns:IServerAsociados_getTallerCultural_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/getTallerCulturalResponse" message="tns:IServerAsociados_getTallerCultural_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTallerRecreativo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerAsociados/getTallerRecreativo" message="tns:IServerAsociados_getTallerRecreativo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerAsociados/getTallerRecreativoResponse" message="tns:IServerAsociados_getTallerRecreativo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServerAsociados" type="tns:IServerAsociados">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cargarComboEstados">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/cargarComboEstados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarComboMunicipios">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/cargarComboMunicipios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarComboLocalidades">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/cargarComboLocalidades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarComboCategoriaT">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/cargarComboCategoriaT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarLogin">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/registrarLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBynoSocio">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/getBynoSocio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarSocio">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/registrarSocio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarHC">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/registrarHC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarBeneficiario">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/registrarBeneficiario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarDireccion">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/registrarDireccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarCategoria">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/registrarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarTaller">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/registrarTaller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarDetalleTaller">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/registrarDetalleTaller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSocio">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/getSocio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHC">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/getHC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBeneficiario">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/getBeneficiario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSocioDetalle">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/getSocioDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBeneficiarioDetalle">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/getBeneficiarioDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allSocios">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/allSocios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCategoria">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/getCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaller">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/getTaller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTallerDeportivo">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/getTallerDeportivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTallerCultural">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/getTallerCultural" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTallerRecreativo">
      <soap:operation soapAction="http://tempuri.org/IServerAsociados/getTallerRecreativo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerAsociados">
    <wsdl:port name="BasicHttpBinding_IServerAsociados" binding="tns:BasicHttpBinding_IServerAsociados">
      <soap:address location="http://192.168.0.125/ServerAsociados/ServerAsociados.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>